
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');


html {
    background-color: white;
    height: 100%;
    width: 100%;
}

header {
    padding-top: 10%;
    padding-left: 3%;
    padding-bottom: 5%;
    display: flex;
    font-size: 2rem;
    font-weight: bold;


}

main { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3%;



}

footer { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    bottom: 5%;
    width: 100%;
    padding: 1%;
    text-align: center;

}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.logo {
    position: relative;
    top: -5%;
    padding-left: 5%;
    height: 6rem;
    width: 5rem;
}

.person {
    padding-left: 5%;
    height: 10rem;
    width: 10rem;
}
.btn {
    border: transparent;
    align-items:self-start ;
    border-radius: 0.8rem;
    background: #60738c;
    width: 13rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 1%;
    color: white;
    font-size: 1rem;
    margin-left: 4%;

 
    font-family: 'Josefin Slab', serif;



}

.btn2 {
    border: transparent;
    border-radius:1.8rem;
    background: #b8b8b8;
    width: 7rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 1.6rem;
    margin-top:7.5rem;
    padding-left: 2%;
    font-family: 'Josefin Slab', serif;



}

.icones {
    width: 6rem;
    height: 6rem; 
}




.col{ display: flex;
    flex-direction: column;
    justify-content: center;


}
input{
    border: solid #d0bcc4 ;
    font-size: 1.3rem;
    width: 15rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    margin-top: 4%;

}


.fig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
p{
    font-family: 'Josefin Slab', serif;
}
h1{
    font-family: 'Roboto', sans-serif;
}
input{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}