
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');

html {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}




.logo { position: absolute;
    left: 1rem;
    top:1.5rem;
    height: 18%;
    width: 23%;
}

.user {
    height: 8rem;
    width: 8rem;
}



.separe {
    position: absolute;
    left: 1rem;
    top: -0.5rem;
}

a {
    text-decoration: none;

}

.btn {
    width: 50%;
    height:auto;
    min-height: 3rem;
    
    color: #ffffff;
    font-size: 1.15rem;
    background: #60738c;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

.btn2 {
    width: 75%;
    height:auto;
    min-height: 4rem;
    color: #ffffff;
    font-size: 1.2rem;

    background: #60738c;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.3rem;
}



ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 16rem;
}


.text {
    width: 3rem;
    font-size: 1rem;
    color: #6d6d6d;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;


}
.seletor-do-texto {
    width: 3rem;
    font-size: 1rem;
    color: #6d6d6d;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.subtext {
    font-size: 1.3rem;
    color: #384652;


}

.help{ position: relative;
    top: 1rem;
    left: 5rem;

}


li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
}

p{
    font-size: 1.5rem;
    min-width: 3rem;
    min-height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.seta {
    position: absolute;
    top: 36rem;
    left: 1rem;

}

.size {
    width: 5rem;
    height: 5rem;


}
