@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');
html{
    background-color: white;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
main{
    display: flex;
    flex-direction: column;
}
.subtitle{
    margin-left: 13%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
.footnote{
    margin-left: 13%;
    font-size: 0.9rem;
    font-weight: lighter;
}
.btn {
    align-items: self-start;
    border-radius: 7%;
    color: #b8b8b8;
    font-size: 1.8rem;
    background: #60738C;
    margin: 10%;
    padding: 5% 10% 5% 10%;
    text-decoration: none;
    font-weight: bold;
}
.principal{    
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.logo{
    height: 12rem;
    width: 10rem;
}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

