
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');

html { align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Slab', serif;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}
header {display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
    margin-left:5%
  


}

main { display: flex;
    flex-direction: column;
    align-items: center;
    


}

button{ border-radius: 1rem;
    border:solid #d0bcc4;


}

ul{
    padding-top: 2.5%;

}
section{ width: 15rem;
    border-bottom:  0.5rem solid  black;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
input{
    border: solid #d0bcc4 ;
    font-size: 1.0rem;
    width: 18rem;
    height: 1.6rem;
    border-radius: 0.5rem;
    margin-top: 4%;

}
.letter{ 
    background-color: white;
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    top:54.5%;
    background-size: cover;

    
}
.orange {
    width: 20rem;
    color: white;
    font-size: 1.5rem;
    background: #384652;
    padding: 1%;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 5%;
    margin-left: 5%;
}

a{text-decoration: none;

}
.orange1 {
    margin-left: 5%;
    width: 15rem;
    color: white;
    font-size: 1.5rem;
    background: #384652;
    padding: 1%;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}
.gray { 
    color: white;
    gap:1rem;
    margin-top: 5%;
    width: 15rem;
    font-size: 1.5rem;
    background: #60738c;
    padding: 4%;
    font-family: 'Josefin Slab', serif;

}
.white {

    width: 30rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background: white;
    font-family: 'Josefin Slab', serif;
    border-radius: 0.8rem;
    

}
.first{ display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;


}
footer{position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 38rem;
    align-items: center;
    justify-content: space-between;
}

.ou{
    position: absolute;
    top:1.2rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-weight: bold ;
    background-color:white;
    margin-left: -1rem;

    
}
.logo{
    height: 12rem;
    width: 10rem;
}