@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');
html{
    background-color: white;
    font-family: "Bree Serif",sans-serif;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
main{
    display: flex;
    flex-direction: column;
}
.subtitle{
    margin-left: 13%;
    font-size: 3rem;
    font-weight: bold;
}
.footnote{
    margin-left: 13%;
    font-size: 1.6rem;
    font-weight: lighter;
}
.btn {
    border-radius: 7%;
    color: #b8b8b8;
    font-size: 4rem;
    background: #60738C;
    margin: 10%;
    padding: 5% 10% 5% 10%;
    text-decoration: none;
    font-weight: bold;
}
.principal{    
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.logo{
    height: 37rem;
    width: 30rem;
}