@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');


html {
    background-color: white;
    font-family: "Bree Serif", sans-serif;
    height: 100%;
    width: 100%;
}

header {
    padding-top: 10%;
    padding-left: 3%;
    padding-bottom: 5%;
    display: flex;
    justify-content: baseline;


    font-size: 4rem;
    font-weight: bold;


}

main { 
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    height: 30rem;


}

footer { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    padding: 1%;
    text-align: center;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    position: relative;
    top: -5%;
    padding-left: 5%;
    height: 12rem;
    width: 10rem;
}

.person {
    padding-left: -5%;
    height: 30rem;
    width: 30rem;
}
.btn {
    border: transparent;
    align-items: self-start;
    border-radius: 0.8rem;
    background: #60738c;
    width: 32rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 1%;
    color: white;
    font-size: 2rem;
 
    font-family: 'Bree Serif', serif;



}

.btn2 {
    border: transparent;
    border-radius:2.2rem;
    background: #b8b8b8;
    width: 24rem;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 1%;
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
 
    font-family: 'Bree Serif', serif;



}

.icones {
    width: 250px;
    height: 250px; 
}




.col{ display: flex;
    flex-direction: column;
    justify-content: center;


}
input{
    border: solid #d0bcc4 ;
    font-size: 2rem;
    width: 31rem;
    height: 3.2rem;
    border-radius: 1.5rem;
    margin-top: 4%;

}


.fig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}