
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');


html {
    background-color: white;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


main {
    margin-left: 5%;

}


footer {
    padding-bottom: 5rem;
}

ul {
    display: flex;
    flex-direction: column;


}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}



a {
    text-decoration: none;

}

.bell { position: absolute;
    height: 8rem;
    width: 8rem;
    top: 5%;
    left: 82%;


}



.logo {
    margin-top: 5%;
    height: 37rem;
    width: 30rem;



}

.person {
    position: relative;
    top: 2rem;
    width: 13rem;
    height: 13rem;

}

.icones {

    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 20rem;


}

.btn {
    border-radius: 0.5rem;
    border: transparent;
    background: #60738c;
    width: 20rem;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;



}

.liGrey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2rem;
    font-family: 'Josefin Slab', serif;
    color: #b8b8b8;
    margin-top: 5%;
    padding-bottom: 2%;



}



.subtitle {
    margin-bottom: 2rem;


}


.spaceB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.spaceE {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    

}