html{
    background-color: #d0bcc4;
    font-family: "Bree Serif",sans-serif;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
main{
    display: flex;
    flex-direction: column;
}
.subtitle{
    margin-left: 13%;
    font-size: 3rem;
    font-weight: bold;
}
.footnote{
    margin-left: 13%;
    font-size: 1.6rem;
    font-weight: lighter;
}
.btn {
    border-radius: 7%;
    color: #000000;
    font-size: 4rem;
    background: #f0849c;
    margin: 10%;
    padding: 5% 10% 5% 10%;
    text-decoration: none;
    font-weight: bold;
}
.principal{    
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.logo{
    height: 37rem;
    width: 30rem;
}