@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Roboto:wght@100&display=swap');

html {
    background-color: white;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.logo {
    margin-top: 6%;
    margin-left: 6%;
    height: 7rem;
    width: 5rem;
}

.sino {
    margin-top: 8%;
    margin-right: 5%;
    height: 5rem;
    width: 5rem;
}

.user {
    margin-top: 38%;
    height: 8rem;
    width: 8rem;
}

h1 {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btn {
    border-radius: 7%;
    color: white;
    font-size: 1.2rem;
    background: #60738c;
    margin: 10% 0% 4% 0%;
    padding: 5% 20% 5% 20%;
    text-decoration: none;
    font-weight: bold;
}

.principal {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
}

a {
    text-decoration: none;
}

.icones {
    width: 5rem;
    height: 5rem;
    margin-bottom: 10%;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
}